<%- include('partials/header') %>

    <div class="table-container">

        <% if (error && error.length> 0) { %>
            <div class="badge-error">
                <%= error %>
            </div>
            <% } %>

                <% if (success && success.length> 0) { %>
                    <div class="badge-success">
                        <%= success %>
                    </div>
                    <% } %>

                        <% categories.forEach(category=> { %>
                            <div class="card bg-dark border-secondary h-100 hover-card shadow-sm">
                                <div class="card-body">
                                    <div class="d-flex align-items-start">

                                        <!-- Ícone do produto -->
                                        <div class="icon-container bg-success bg-opacity-25 text-success rounded-circle d-flex justify-content-center align-items-center"
                                            style="width: 55px; height: 55px;">
                                            <i class="bi bi-grid-3x3-gap fs-3"></i>
                                        </div>

                                        <!-- Conteúdo -->
                                        <div class="flex-grow-1 ms-3">

                                            <!-- Nome do produto -->
                                            <h5 class="text-white mb-1 fw-bold">
                                                <%= category.name %>
                                            </h5>

                                            <!-- Descrição -->
                                            <p class="text-secondary small mb-2">
                                                <%= category.description %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }) %>

    </div>